body {
  font-family: arial, sans-serif;
  background: url(https://images.theconversation.com/files/18108/original/rffw88nr-1354076846.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=926&fit=clip);
  background-repeat: none;
  background-size: 1440px;
}

h1 {
  color: white;
  display: inline-block;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 0;
  font-family: "Lucida" Grande, sans-serif;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}
a,
small {
  color: whitesmoke;
}
a {
  text-decoration: underline;
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  max-width: 600px;
}

.weather-app-border {
  padding: 20px;
  border: 1px solid blue;
  border-radius: 10px;
  max-width: 800px;
}
.weather-app {
  max-width: 60px;
  margin: 30px auto;
}

.float-none strong {
  font-family: "Lucida" Grande, sans-serif;
  color: whitesmoke;
  font-size: 64px;
  line-height: 1;
}

.float-left units {
  position: relative;
  font-size: 16px;
  text-decoration: none;
}

.units,
li {
  color: whitesmoke;
}
.weather-temperature img {
  margin-right: 60px;
  height: 100px;
  width: 100px;
}
.weather-temperature strong {
  color: whitesmoke;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}
.weather-temperature .active {
  color: whitesmoke;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: underline;
}

.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: whitesmoke;
}

.weather-forecast-date {
  font-size: 30px;
  opacity: 0.6;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
  font-size: 20px;
}

.weather-forecast-temperature {
  font-size: 20px;
}

.title,
.title2 {
  text-align: center;
  margin: 0px;
  margin-top: 15px;
  color: whitesmoke;
  display: inline-block;
}
